@model WebApp.Country.ViewModels.MenuResponseViewModel

<nav class="navbar navbar-expand-lg navbar-dark bd-navbar fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="~/images/logo-conutry.png" alt="" width="25"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{
                    try
                    {
                        if (Model != null && Model.Features != null)
                        {
                            var parents = Model.Features.Where(w => w.ParentFeatureId == 0);
                            var isFrist = true;
                            foreach (var item in parents)
                            {
                                var childs = Model.Features.Where(w => w.ParentFeatureId == item.Id);
                                if (childs == null || childs.Count() == 0)
                                {
                                    if (isFrist)
                                    {
                                        <li class="nav-item active">
                                            <a class="nav-item active nav-link" href="@item.Url">@item.Name</a>
                                        </li>
                                        isFrist = false;
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-item nav-link" href="@item.Url">@item.Name</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    if (isFrist)
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @item.Name
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                                                @foreach (var itemChild in childs)
                                                {
                                                    <a class="dropdown-item" href="@itemChild.Url">@itemChild.Name</a>
                                                    <div class="dropdown-divider"></div>

                                                }
                                            </div>
                                        </li>
                                        isFrist = false;
                                    }
                                    else
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @item.Name
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                                                @foreach (var itemChild in childs)
                                                {
                                                    <a class="dropdown-item" href="@itemChild.Url">@itemChild.Name</a>
                                                    <div class="dropdown-divider"></div>

                                                }
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        }
                    }
                    catch (Exception ex)
                    {

                    }
                }
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://www.fateccampinas.com.br/site/images/img/user.png" style="width: 20px;" />
                    </a>
                    @{
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <a class="dropdown-item" href="/userprofile">@Model.User.FirstName @Model.User.LastName</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/changepassword">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Logout</a>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>